.user {
  &--compact {
    display: flex;
    padding-top: 12px;
  }

  &__avatar {
    text-align: center;
    margin-bottom: 7px;
  }

  &__avatar--compact {
    padding-left: 67px;
    margin-right: 20px;

    img {
      width: 64px;
      height: 64px;
    }
  }

  &__name {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #1d1c1d;
    margin-bottom: 16px;
  }

  &__name--compact {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    margin-bottom: 3px;
  }

  &__description {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    // margin-left: 12.8%;
    margin-bottom: 22px;

    & > div:first-child {
      padding-right: 67px;
      margin-right: 30px;
      border-right: 1px solid #dddddd;
      border-radius: 1px;
    }
  }

  &__description--compact {
    & > div:first-child {
      padding-right: 71px;
      margin-right: 20px;
      margin-bottom: 19px;
      border-right: 1px solid #dddddd;
      border-radius: 1px;
    }
  }

  &__position,
  &__dob span:first-child {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #616061;
    margin: 10px 0px;
  }

  &__position span:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__position--compact {
    margin: 0px;
    margin-bottom: 8px;
  }

  &__dob span:last-child {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1d1c1d;
  }

  &__status {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1d1c1d;
    margin-bottom: 10px;

    img {
      margin-right: 5px;
    }

    & + div {
      margin-bottom: 10px;
    }
  }

  &__status--compact {
    margin-top: 4px;
  }

  &__text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #616061;
    margin: 5px 0px;
  }

  &__text--bold {
    font-weight: bold;
    text-align: center;
    color: #1d1c1d;
    margin-bottom: 10px;
  }

  &__text--compact {
    display: inline-block;
    margin-bottom: 5px 0px 10px;
  }
}
