.documents {
  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    &:after {
      position: absolute;
      content: '';
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.05) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      bottom: -11px;
      left: 0px;
      height: 10px;
      width: 100%;
    }
  }

  &__place {
    display: inline-block;
    background: #f8f8f8;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #616061;
    padding: 7.5px 6px;
    margin-right: 4px;
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
  }

  &__controls {
    display: flex;
    padding: 2.5px 0px;
    border-radius: 8px;
  }

  &__button {
    padding: 0px 31px;
    background-color: #f8f8f8;
    padding-top: 4px;
    padding-bottom: 4px;
    max-height: 24px;

    &:not(:last-child) {
      border-right: 1px solid #ececec;
    }

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      padding: 4px 31px 4px 40px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 4px 40px 4px 31px;
    }

    &:nth-child(3) {
      border-right: none;
    }
  }

  &__button--group-left {
    padding-left: 0px;
  }

  &__button--group-right {
    padding-right: 20px;
    border-right-width: 0px;
  }

  &__table {
    padding: 13px 20px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 0px 0px 6px 6px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 21px 13px;
    max-width: 11.8%;

    &:hover {
      background: #f8f8f8;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  &__description {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d1c1d;
    width: 109%;
  }

  &__badge {
    margin-bottom: 19px;
  }

  &__badge--folder {
    margin-bottom: 12px;
  }
}
