.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;

  &__icon {
    margin-right: 0.6%;
  }

  &__text {
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #959595;
    width: 100%;
    max-width: 75%;
  }

  &__text,
  &__text:active,
  &__text:focus {
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
